<ion-header>
    <ion-toolbar>
        <img src="assets/img/Logo.png" height=100px width=100px>

        <ion-title class="ion-text-center">
            Niveles de emergencia
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="completo">
        <ion-row class="completo ion-align-items-center">
            <ion-col size="10" offset="1">
                <ion-row>
                    <ion-col>
                        <ion-button type="button" class="btn btn-lg btn-primary" disabled color="danger" expand="block" size="" href="nivelesEmergencia">
                            URGENCIA MEDICA/AMBULANCIA
                        </ion-button>
                        <ion-button type="button" class="btn btn-lg btn-primary" disabled color="warning" expand="block" size="" href="nivelesEmergencia">
                            EMERGENCIA MEDICA/AMBULANCIA
                        </ion-button>
                        <ion-button type="button" class="btn btn-lg btn-primary" disabled color="success" expand="block" size="" expand="block" href="nivelesEmergencia">
                            Emergencia no tan urgente/Medico
                        </ion-button>
                        <ion-button type="button" class="btn btn-lg btn-primary" disabled color="success" expand="block" size="" expand="block" href="nivelesEmergencia">
                            Urgencia menor/Medico
                        </ion-button>
                        <ion-button type="button" class="btn btn-lg btn-primary" disabled color="primary" expand="block" size="" expand="block" href="nivelesEmergencia">
                            Sin urgencia
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="3" offset="1">
                <ion-button href="notas" color="danger" expand="block" size="" href="menu-principal">
                    Volver
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>