<ion-header>
    
    <ion-toolbar>

        <img src="assets/img/Logo.png" height=100px width=100px>

        <ion-title  class="ion-text-center" >
            <font size = "15">Menú</font>
        </ion-title>

    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="completo">
        <ion-row class="completo ion-align-items-center">
            <ion-col size="10" offset="1">
                <ion-row>
                    <ion-col>
                        <ion-button                     
                        color="tertiary"
                        expand="block"
                        size="large" 
                        expand="block" 
                        href="help">
                        ¿Necesitas ayuda?
                    </ion-button>
                    <ion-button                     
                        color="tertiary"
                        expand="block"
                        size="large" 
                        expand="block" 
                        href="Mapa">
                         Mapa
                    </ion-button>
                    <ion-button                     
                    color="tertiary"
                    expand="block"
                    size="large" 
                    expand="block" 
                    href="nivelesEmergencia">
                    Niveles de emergecia
                </ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>

            <ion-col size="10" offset="1">
                <ion-row>
                    <ion-col>
                        <ion-button                     
                        color="tertiary"
                        expand="block"
                        size="large" 
                        expand="block" 
                        href="asistenciaTelefonica">
                        Asistencia Telefonica
                    </ion-button>
                        <ion-button                     
                            color="tertiary"
                            expand="block"
                            size="large" 
                            expand="block" 
                            href="reclamosSugerencias">
                            Reclamos y sugerencias
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>

            
            <ion-col size="3" offset="1">
                <ion-button
                    outline
                    href="notas"
                    color="danger"
                    expand="block"
                    size=""
                    href=""
                >
                    Volver
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>