<ion-header>
    
    <ion-toolbar>

        <img src="assets/img/Logo.png" height=100px width=100px>

        <ion-title  class="ion-text-center" >
            <font size = "5">Reclamos y/o sugerencias</font>
        </ion-title>

    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-grid class="completo">
        
        <ion-row class="completo ion-align-items-center">

            <ion-col size="10" offset="1">
               
                <ion-item>
                    <ion-label id=text1 style="WIDTH: 428px; HEIGHT: 400px"
                    size=32 name=text1 position="floating">
                        Comentarios
                    </ion-label>
                    <ion-input  type="text" required></ion-input>
                </ion-item>
                <ion-button
                    href="notas"
                    color="danger"
                    expand="block"
                    size=""
                    href="menu-principal"
                >
                    Enviar
                </ion-button>
                <ion-button
                    href="notas"
                    color="danger"
                    expand="block"
                    size=""
                    href="menu-principal"
                >
                    Volver
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>