<ion-header>
    
    <ion-toolbar>

        <img src="assets/img/Logo.png" height=100px width=100px>

        <ion-title  class="ion-text-center" >
            <font size = "15">Contactos</font>
        </ion-title>

    </ion-toolbar>
</ion-header>
<ion-content>
    

    <ion-grid class="completo">
        <ion-row size="10" offser= "10">
            <H1>Numeros de contacto</H1>
            <h1>Linea1:+56912345678</h1>
            <h1>Linea2:+56912345678</h1>
            <h1>Linea3:+56912345678</h1>
        </ion-row>
        <ion-row class="completo ion-align-items-center">
            
 
            <ion-col size="3" offset="1">
                
                <ion-button
                    href="notas"
                    color="danger"
                    expand="block"
                    size=""
                    href="menu-principal"
                >
                    Volver
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>